.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    text-align: center;
  }
  
  .app > * {
    margin: 1em 0;
  }
  
  a {
    text-decoration: none;
  }
  
  * {
    position: relative;
    box-sizing: border-box;
  }
  
  body,
  html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  